.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.resize-container {
  table-layout: fixed;
  display: table;
  width: 100%;
  border: 1px solid gray;
}

.resize-value {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
  width: calc(100% - 1px);
}

.resize-handle {
  outline: solid 1px black;
  cursor: col-resize;
  float: right;
  width: 0;
  /* margin-right: -1em; */ /* offset based on padding */
}
